{% extends 'base.html.twig' %}

{% block title %}Hello YaoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    
</style>
<link rel="stylesheet" href="CV.css" media="screen">
 <link rel="stylesheet" href="nicepage.css" media="screen">
 <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
	<body>
    
      <section class="u-clearfix u-section-1" id="sec-09de">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-align-center u-clearfix u-rich-text u-text u-text-1">
          <h1 style="text-align: center;">Bibliographie</h1>
          <p style="text-align: center;">
            <span style="line-height: 2.0;">Ne le 7 septembre 2002 en cote d'ivoire en afrique, J'ai toujours eu un de bon resultat scolaire dans toutes les matieres grace a ma polyvalence et ma capacité a m'adapter a toute situation.Et apres l'obtention de mon baccalaureat avec une mention assez bien jai decider de connaitre de nouveaux horizon pour mon accomplissement en tend que personne.<img src="d.jpg" align="center" style="width: 366px;" class="fr-dib fr-fic" width="570">Et sur tout dans la continuation de mes etudes pour pouvoir devenir dans quelque années un architecte reseaux ou un ingénieur en reseaux telecomunication;Depuis l'année 2021 &nbsp;je suis en preparation d'un Bachelor reseaux et telecomunication a l'IUT de ROANNE.
            </span>
          </p>
          <p style="text-align: center;">
            <span style="line-height: 2.0;">Mes centre d'interet sont le sport plus platiculierement le basket car j'y excelle et jai meme representer mon pays dans diverses competitionet aussi l'informatique qui est quand meme pour moi une histoire de famille car presque chaque membre de famille a etudier dans ce domaine</span>
          </p>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-f9d6">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="739" data-image-height="1600" src="f.jpg">
                <h2 class="u-subtitle u-text u-text-1">SPORT</h2>
                <p class="u-large-text u-text u-text-variant u-text-2">STADE MALLEVAL DE ROANNE</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="827" data-image-height="479" src="e.jpg">
                <h2 class="u-subtitle u-text u-text-3">INFORMATIQUE</h2>
                <p class="u-large-text u-text u-text-variant u-text-4">IUT DE ROANNE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    </body>
{% endblock %}
